body {
    position: relative;
    width: 1600px;
    height: 4828px;
    background: #FFFFFF;

}

#row {
    padding-left: 13.49%;
}

#city {
    font-family: Calibri;
    line-height: normal;
    font-size: 15px;
    color: #6A6A6A;
}

.top-mess {
    font-family: Calibri;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #9CC330;
    text-align: center;
}

.text-log {
    font-family: Gotham Pro;
    line-height: normal;
    font-size: 22px;

    color: #3A91CE;
}

.text-desc {
    font-family: Calibri;
    line-height: normal;
    font-size: 17px;

    color: #7C7C7C;
}

.text-nav a {
    font-family: Calibri;
    line-height: normal;
    font-size: 15px;
    color: #6A6A6A;
}

#reg-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#nav-it {
    padding-right: 1%;
}

.phone-text {
    font-family: Calibri;
    line-height: normal;
    font-size: 17px;
    color: #000000;
}

.btn-catalog {
    width: 112px;
    height: 40px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid #3A91CE;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    outline: none;

    font-family: Calibri;
    line-height: normal;
    font-size: 18px;
    color: #3A91CE;
}

.search-field {
    width: 485px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #BECBD4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
}

.search-btn {
    position: absolute;
    margin-top: -2px;
    margin-left: -35px;
    padding: 0px;
}

#reg-mod {
    padding-left: 45px;
}

#min-zak {
    margin-left: -75px;
    padding: 0%;
    font-family: Calibri;
    line-height: 15px;
    font-size: 15px;
    color: #7C7C7C;
}

.btn-cart {
    margin-left: -20px;
    background: #FFFFFF;
    border: 1px solid #BECBD4;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;

    font-family: Calibri;
    line-height: normal;
    font-size: 16px;
    color: #84AE12;
}

.circle {
    background: #9CC330;
    border-radius: 14px;
    height: 28px;
    width: 28px;
    background-image: url("../images/round.svg");

    font-family: Calibri;
    line-height: normal;
    font-size: 14px;
    text-align: center;

    color: #FFFFFF;
}

#some {
    color: #000000;
}

a#login {
    color: #000000
}

#main {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#okno {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.horizontal-slidermix {
    position: relative;
    width: 1100px;
    height: 102px;
    overflow: hidden;
}

.slider-prevmix, .slider-nextmix {
    color: black;
    margin-top: 43px;
}

.slider-prevmix {
    background-position: 0 0;
    left: 0;
}

ul.no-mark {
    margin: 0;
    padding: 0;
}

ul.sm-slider li {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    position: relative;
    width: 175px;
    margin-bottom: 20px;
    text-align: center;
}

ul.sm-slider .slide-cont {
    display: block;
    margin: 0 15px;
    text-decoration: none;
}

.img-over_x95 {
    display: block;
    margin: 0 auto 14px auto;
    height: 95px;
}

.link-namemix {
    display: block;
    font-weight: 700;
    line-height: 24px;
    font-size: 18px;
    color: #3399cc;
    text-decoration: none;
}

.horizontal-slidermix0 {
    position: relative;
    z-index: 15;
}

.horizontal-slidermix1 {
    font-size: 36px;
    font-weight: 500 !important;
    line-height: 1.2em;
    color: #2E70BF;
    text-align: center;
}
.low-green{
    background-color: #9CC330;
    width: 1600px;
    height: 40px;

    color: white;
    padding-top: 10px;
    font-family: Calibri ;
    line-height: normal;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;
  }